{% for ntp_server in configs.ntp_servers.group_names %}
server {{ ntp_server }} prefer
{% endfor %}

driftfile /var/lib/chrony/drift
logdir /var/log/chrony
log measurements statistics tracking
keyfile /etc/chrony.keys
commandkey 24
local stratum 10
initstepslew 20 master
